body {
    background-color: #012945;
}

#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background-image: url(pics/board.jpg);
}

#messageArea {
    position: absolute;
    top: 30px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
}

table {
    position: absolute;
    left: 172px;
    top: 98px;
    border-spacing: 0px;
}

td {
    width: 93px;
    height: 93px;
}

form {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 12px;
}

form input {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #00528D;
    font-size: 1.2em;
}
#fireButton {
    padding: 5px 20px;
}

.hit {
    background: url(pics/ship.png) no-repeat center center;
}

.miss {
    background: url(pics/miss.png) no-repeat center center;
}